<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-pip/v0.0.2/leaflet-pip.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js'></script>
<style>
body { margin:0; padding:0; }
#map { position:absolute; height: 95%; width:100%; }
</style>

<div id='map'></div>

<a href='#' id='geolocate' class='button right'>Center on my location</a>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiY2hyaXN3YW5kIiwiYSI6Ii15YVZETmcifQ.iwFzK-RnFcNDU_msz06eQQ';
var map = L.mapbox.map('map', 'chriswand.kdm86mf3');

var votersLayer = L.mapbox.featureLayer().addTo(map)

votersLayer.on('layeradd', function(e) {
  var marker = e.layer,
  feature = marker.feature;

  var popupContent = '<h3>' + e.layer.feature.properties.title + '</h3>' +
  '<p>' + e.layer.feature.properties.description + "</p>" +
  '<%= form_for @contact do |f| %>' +
  '<%= f.label :outcome, "Outcome" %>' +
  '<select name="contact[outcome]" id="contact_outcome"><option value=""></option>' +
  '<option value="Contacted">Contacted</option>' +
  '<option value="Not Home">Not Home</option>' +
  '<option value="Moved">Moved</option>' +
  '<option value="Deceased">Deceased</option>' +
  '<option value="Inaccessible">Inaccessible</option>' +
  '<option value="Left Message">Left Message</option></select>' +
  '<%= f.label :support, "Support" %>' +
  '<select name="contact[support]" id="contact_support"><option value=""></option>' +
  '<option value="1">1 - Strong Support</option>' +
  '<option value="2">2 - Weak Support</option>' +
  '<option value="3">3 - Undecided</option>' +
  '<option value="4">4 - Weak Opposition</option>' +
  '<option value="5">5 - Strong Opposition</option></select>' +
  '<%= f.label :note, "Notes" %>' +
  '<textarea name="contact[note]" id="contact_note">' +
  '</textarea>' +
  '<input type="hidden" name="contact[voter_id]", id="contact_voter_id" value="' + e.layer.feature.properties.voter_id + '">' +
  '<%= f.hidden_field :user_id, value: current_user.id %>' +
  '<%= f.submit "Log Contact", class: "button round inline"%>' +
  '<% end %>';

  // http://leafletjs.com/reference.html#popup
  marker.bindPopup(popupContent,{
    closeButton: true,
  });
});

var voters = <%= @geojson.html_safe %>

votersLayer.setGeoJSON(voters)

map.fitBounds(votersLayer.getBounds());

var geolocate = document.getElementById('geolocate');

if (!navigator.geolocation) {
  geolocate.innerHTML = 'Geolocation is not available';
} else {
  geolocate.onclick = function (e) {
    e.preventDefault();
    e.stopPropagation();
    map.locate();
  };
}

map.on('locationfound', function(e) {
  map.fitBounds(e.bounds);
});

map.on('locationerror', function() {
  geolocate.innerHTML = 'Position could not be found';
});

</script>
