<h3><%= @voter.full_name %></h3>

<p><%= @voter.address1 %><br>
  <%= @voter.address2 %><br>
  <%= @voter.city %><br>
  <%= @voter.state %><br>
  <%= @voter.zip %><br>
</p>

<%= form_for @list_membership do |f| %>
  <%= f.label :list_id, "List" %>
  <%= f.select :list_id, @lists %>
  <%= f.hidden_field :voter_id, value: @voter.id %>
  <%= f.submit "Add to list" %>
<% end %>
