<%= form_for @contact do |f| %>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :outcome, "Outcome" %>
    <%= f.select :outcome, Contact.poss_outcomes %>
    <%= f.label :support, "Support (1 is strong support, 5 is strong oppose)" %>
    <%= f.select :support, [
      ["1 - Strong Support", 1],
      ["2 - Weak Support", 2],
      ["3 - Undecided", 3],
      ["4 - Weak Opposition", 4],
      ["5 - Strong Opposition", 5]] %>
    <%= f.label :note, "Notes" %>
    <%= f.text_area :note %>
    <%= f.hidden_field :voter_id, value: @voter.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Log Contact", class: "button inline"%>
  </div>
</div>
<% end %>
