<ul>
  <% @voters.each do |voter| %>
    <li>
      <%= link_to voter.full_name, voter %>
    </li>
  <% end %>
</ul>

<%= paginate @voters %>

<%= form_for @list do |f| %>

<div>
  <%= f.label :name, "List Name" %>
  <%= f.text_field :name %>
</div>

<%= f.hidden_field :search_id, value: @search.id %>

<%= f.submit "Save this list" %>

<% end %>
